<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoBackup</title>
</head>
<body>
    <h1>AutoBackup</h1>

    <form method="post"  action="/run-backup">
        <label>
            Source directory:
            <input type="text" name="source" required>
        </label>
        <br><br>

        <label>
            Backup directory:
            <input type="text" name="backup" required>
        </label>
        <br><br>
        
        <label>
            Days:
            <input type="number" name="days" value="30">
        </label>
        <br><br>
        
        <button type="submit">Run Backup</button>
    </form>
    
    {% if message %}
        <p><strong>{{message}}</strong></p>
    {% endif %}

</body>
</html>